# Ignore .env files
.env

# Jupyter and Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# Data outputs
data/*.csv
*.log

# Mac OS / Windows noise
.DS_Store
Thumbs.db